{:paths   ["src/clj"
           "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}
 :aliases {:build {:deps       {io.github.clojure/tools.build        {:git/sha "24f2894"
                                                                      :git/tag "v0.9.5" :git/url "https://github.com/clojure/tools.build.git"}}
                   :ns-default build}}}